html {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  background-color: white;
  color: black;
}

h1 {
  text-align: center;
  font-size: 2.7em;
  margin-top: 1em;
}

h2 {
  text-align: center;
  color: white;
  font-size: 2em;
  background-color: #03045e;
  margin: 2px -0.5em 0 -0.5em;
}

ul {
  list-style: none;
}

li {
  line-height: 1.5;
  font-size: 1.5em;
  margin-left: 1.5em;
}

li:hover {
  text-decoration: underline;
  text-decoration-color: orangered;
  color: orangered;
}

ul li::before {
  content: "\2022";
  font-size: 30px;
  color: #03045e;
  display: inline-block;
  width: 1em;
}

a {
  color: black;
  font-size: 1.3em;
  margin-left: 23em;
  position: relative;
  top: 5em;
}

#return:hover {
  color: red;
}

@media (min-width: 768px) and (max-width: 1024px) {
  /*Tablette*/
  #return {
    margin-left: 1em;
  }
}
